*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'Merriweather', serif;
}

header{
    
     margin: 50px auto; 
    height: 600px;
    width: 1320px;
    border-radius: 16px;
    text-align: center;
     background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png'); 
    
    
}
.hny{

color: #FFF;
padding-top: 177px;
padding-left: 530px;
padding-right: 531px;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.nyp{
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; /* 131.944% */
padding-left: 344px;
padding-right: 344px;
padding-bottom: 177px;
padding-top: 16px;
}

.offer{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 120px;
}
.o2{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 48px;
}
.ac{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 16px;
margin-bottom: 48px;
}

.b3{
    width: 1320px;
   height: 600px;
   margin-top: 120px;
   background-image:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
   
   display: flex;
   /* background-image: url('../resources/Vectorrr.png'); */

}
.mid-party{
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
padding-top: 126px;
/* padding-right: 552px; */
padding-left: 126px;
text-align: left;
margin-right: 95px;
}
.french{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    padding-left: 126px;
    /* padding-right: 497px; */
    margin-top: 24px;
    text-align: left;
    margin-right: 40px;

}
.join{
     width: 140px;
    height: 24px; 
    color: white;
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin-top: 48px;
margin-left: 158px;
 margin-right: 601px; 
margin-bottom: 142px;
background-color: transparent;
border: 0;
}
.join:hover{
    transform: scale(1.1);
    transition: .2s;
    cursor: pointer;
}
.img{
    display: flex;
width: 319.83px;
height: 464.662px;
padding: 0.008px 0px 0px 0px;
flex-direction: column;
justify-content: center;
align-items: center;
flex-shrink: 0;

margin-right: 140px;
margin-top: 68px;
 /* fill: radial-gradient(50% 50% at 50% 50%, #690B02 27%, #8F4941 39%, #B18079 51%, #CDADA8 62%, #E3D1CD 73%, #F2EAE7 84%, #FCFAF6 93%, #FFFFFC 100%); 
background-blend-mode:multiply ;
mix-blend-mode: multiply; */

}
main{
    margin-top: 4000px;
    margin-left: auto; 
    margin-right: auto; 
    /* height: 7735px; */
    width: 1320px;
   
    background-color:#FFF;
   
    
    
}
.best-gift{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.oap{
    margin-top: 16px;
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.fr{
    margin-top: 22px;
    margin-bottom: 48px;
    padding-right: 424px;
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}

/* .row{
    width: 424px;
    height: 450px;
    display: flex;
} */
.lp{
    margin-right: 19px;
    margin-bottom: 19px;
    
}
.lp:hover{
    transition: .5s;
    transform:scale(1.1);
}
.mp{
    margin-right: 19px;
    margin-bottom: 19px;
}
.mp:hover{
    transition: .5s;
    transform:scale(1.1);
}
.rp{
    margin-bottom: 19px;
}
.rp:hover{
    transition: .5s;
    transform:scale(1.1);
}
.newsletter{
    margin-top: 120px;
    margin-bottom: 120px;
    border-radius: 16px;
    background-color: rgba(255, 0, 0, 0.05);
    height: 616px;
}
.emailcon{
    margin-top: 80px;
    margin-left: 585px;
    margin-right: 585px;
    margin-bottom: 40px;
}
.sn{
    color: #070211;
text-align: center;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
margin-bottom: 22px;
}
.fre{
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
margin-left: 212px;
margin-right: 212px;
margin-bottom: 48px;
}
.sub{
   max-width: 648px;
   max-height: 72px;
   margin-left: 336px;
   margin-right: 336px;
   display: flex;
   margin-bottom: 80px; 
}
.es{
    background: #FFF;
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 25px 267px 25px 30px;  
    border-top-left-radius: 50px;
   border-bottom-left-radius: 50px; 
   border: 0;
   width: 438px;
}
#bs{
    width: 210px;
    border-top-right-radius: 50px;
   border-bottom-right-radius: 50px;
    border: 0;
    background: #F00;
    color: #FFF;

    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
padding: 24px 56px 24px 56px;
}
#bs:hover{
    transform: scale(1.1);
    transition: .2s;
}

footer{
    margin: auto;
    width: 1600px;
    height: 609px;
    background: #070211;
}

.tl{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px; 
padding-top: 120px;
padding-left: 140px; 


}
.contact{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px; /* 166.667% */
padding-top: 120px;
 margin-left: 585px; 
padding-right: 250px;
}
section{
    display: flex;
}
#weblink{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px; /* 166.667% */
text-decoration: none;
}
 .browser-icon{
    display: flex;
    width: 64px;
    height: 64px;
    gap: 24px;
    padding-left: 640px;
    padding-top: 98px;
    padding-right: 632px;
   
}

.ll{
    display: flex;
}
.rights{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-left: 140px;
padding-top: 98px;
padding-bottom: 120px;
}
.last{

    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-top: 98px;
padding-left: 880px;

}

/* bonus */
.b4{
    width: 1320px;
   height: 482px;
   margin-top: 120px;
   background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%); 
   align-items: center;
}
.red{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px; /* 175% */
text-transform: capitalize;
}
.b4t{
   
    color: #070211;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
}
.b4text{
    padding-top: 100px;
    margin-bottom: 48px;
}
.b4b{
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
background: #F00;

color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;

border: 0;
}
.b4b:hover{
    transform: scale(1.1);
    transition: .3s;
}

.b5{
    width: 1320px;
    height: 482px;
    margin-top: 120px;
   background:white;
   display: flex;}
.nbo{
    text-align: left;
    padding-top: 104px;
    color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.cs{
    margin-top: 16px;
    text-align: left;
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.af{
   margin-top: 22px;
   color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
text-align: left;
width: 393px;

}
.lalborder{
    width: 463px;
    height: 463px;
    border-radius: 463px;
border: 15px solid #F00;

}

.elip{
    padding: 49.8px;
    width: 364.844px;
    height: 364.844px;
    border-radius: 364.844px;

}
.year{
    margin-top: 112px;
    text-align: left;
    margin-left: 118px;
    color: #F00;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.af2{
    margin-top: 16px;
    margin-left: 118px;
    text-align: left;
    margin-bottom: 43px;
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}
#b5i{
  
   margin-right: 70px;
}

.b6{
    width: 1320px;
    height: 530px;
    margin-top: 120px;
    margin-bottom: 120px;
   
}
.what{
    color: #070211;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: `6px;
}
.holiday{
    color: #F00;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
margin-bottom: 28px;
}
.sale{
    color: #070211;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
.a3{
    padding-left: 126px;
    padding-right: 126px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 160% */
    margin-bottom: 64px;

}
.b6i{
    display:flex;
    
}
.rec{
     margin-top: 420px; 
     position: relative;
     top: 20px;
     left: 0px;
}
.box{
    position: absolute;
    box-shadow: none;
    
}
.women{
    position: absolute;
    right: auto;
    margin-left: 891px;
    margin-top: 7px;
    
} 
.dis{
    position: absolute;
    margin-left: 746.74px;
    margin-top: 86px;
}

