*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'Merriweather', serif;
}

header{
    
     margin: 50px auto; 
    height: 600px;
    width: 1320px;
    border-radius: 16px;
    text-align: center;
     background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png'); 
    
    
}
.hny{

color: #FFF;
padding-top: 177px;
padding-left: 530px;
padding-right: 531px;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.nyp{
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; /* 131.944% */
padding-left: 344px;
padding-right: 344px;
padding-bottom: 177px;
padding-top: 16px;
}

.offer{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 120px;
}
.o2{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 48px;
}
.ac{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 16px;
margin-bottom: 48px;
}

.b3{
    width: 1320px;
   height: 600px;
   margin-top: 120px;
   background-image:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
   
   

}
.mid-party{
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
padding-top: 126px;
padding-right: 552px;
padding-left: 126px;
text-align: left;
}
.french{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    padding-left: 126px;
    padding-right: 497px;
    margin-top: 24px;
    text-align: left;

}
.join{
     width: 140px;
    height: 24px; 
    color: white;
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin-top: 48px;
margin-left: 158px;
margin-right: 1059px;
margin-bottom: 142px;
background-color: transparent;
border: 0;
}
.di{
    position: relative;
}