*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'Merriweather', serif;
}

.banner{
    
     margin: 50px auto; 
    height: 600px;
    width: 1320px;
    border-radius: 16px;
    text-align: center;
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    
    
}
.hny{

color: #FFF;
padding-top: 177px;
padding-left: 530px;
padding-right: 531px;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.nyp{
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; /* 131.944% */
padding-left: 344px;
padding-right: 344px;
padding-bottom: 177px;
padding-top: 16px;
}